.container_home {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 10px 20px #dbdbdb;
    font-family: sans-serif;

    .palette {
        display: flex;
        height: 100%;
        width: 100%;

        .color {
            height: 100%;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: 600;
            letter-spacing: 1px;
            transition: flex 0.1s linear;
            background-color: $blue-600;
            border: 2px solid white;
            box-shadow: inset -10px 0 10px rgba(92, 92, 92, 0.5);

            span {
                opacity: 0;
                transition: opacity 0.1s linear;
            }

            &:hover {
                flex: 2;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                span {
                    opacity: 1;
                }
            }
        }
    }
}
