.container_home {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 10px 20px #dbdbdb;
    font-family: sans-serif;

    .palette {
        display: flex;
        height: 100%;
        width: 100%;

        .color {
            height: 100%;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: 600;
            letter-spacing: 1px;
            transition: flex 0.1s linear;

            span {
                opacity: 0;
                transition: opacity 0.1s linear;
            }

            @for $i from 1 through 12 {
                &:nth-child(#{$i}) {
                    @if $i == 1 {
                        background: $blue-800;
                    } @else if $i == 2 {
                        background: $blue-900;
                    } @else if $i == 3 {
                        background: $blue-800;
                    } @else if $i == 4 {
                        background: $blue-700;
                    } @else if $i == 5 {
                        background: $blue-600;
                    } @else if $i == 6 {
                        background: $blue-500;
                    } @else if $i == 7 {
                        background: $blue-600;
                    } @else if $i == 8 {
                        background: $blue-700;
                    } @else if $i == 9 {
                        background: $blue-800;
                    } @else if $i == 10 {
                        background: $blue-900;
                    } @else if $i == 11 {
                        background: $blue-800;
                    } @else if $i == 12 {
                        background: $blue-700;
                    }
                }
            }

            &:hover {
                flex: 2;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                span {
                    opacity: 1;
                }
            }
        }
    }
}
